@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500&display=swap');

@font-face {
  font-family: 'grobold';
  src: url('fonts/GROBOLD.ttf');
}

/*font-family: 'Baloo Chettan 2', cursive;*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
user-select: none;
outline: none;
-webkit-tap-highlight-color: transparent;
}


body{
background-color: black;
pointer-events: none;
}
button,a,audio{
pointer-events: all !important;
}

#black{
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
animation-name: fade;
transition: all 0.8s;
animation-duration: 0.8s;  
z-index: 10;
background-color: black;

}



/* SELEÇÃO D PERSONAGEM PT 2*/

#black-inicio{
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black;
z-index: 3;
opacity: 1;
transition: all 0.8s;
}

#container-escolhas{
color: white;
font-family: 'grobold';
letter-spacing: 4px;
font-weight:lighter;
font-size: 2em;
text-align: center;
margin-top: 20px;
width: 100%;
height: 100%;
}

#container-char{
width:75%;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr;
max-height: 90vh;
justify-items: center;
}
#container-char img{
max-height: 80vh;
cursor: pointer;
padding: 30px;
}

.char-ativado{
border: 2px solid lime;
border-radius: 10px;
box-shadow: 0 0 30px lime;
mix-blend-mode: screen;
background-color: rgba(0, 255, 0, 0.144);
}


@keyframes blackout {
    from {opacity: 0;}
    to {opacity: 1;}
  }


#confirmar{
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: 30px;
z-index: 3;
background-color: transparent;
color: white;
background-image: url('../img/madeira-2.png');
background-size: 100% 100%;
font-family: 'grobold';
letter-spacing: 2px;
font-size: 2em;
padding: 15px 50px;
cursor: pointer;
border: none;
text-shadow: 0 0 8px rgb(78, 35, 0), 0 0 4px rgb(78, 35, 0);
transition: all 0.5s;
}

#confirmar:hover{letter-spacing: 3.5px;}


#comeco{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 2;
}


#abertura{
position: absolute;
background-color: black;
width: 100%;
height: 100%;
background-image: url("../img/abertura.jpg");
background-size: auto 100%;
background-position: center center;
background-repeat: no-repeat;
animation-name: fade;
animation-duration: 0.8s;  
animation-fill-mode: forwards;
animation-direction: reverse;
animation-play-state: paused;
}



/*FINAL SELEÇÃO D PERSONAGEM PT 2*/



#musicBtn{
pointer-events: all;
position: absolute;
top: 0px;
right: 0px;
width: 60px;
margin: 10px;
background-color: transparent;
border: none;
cursor: pointer;
z-index: 2;
}
#voiceBtn{
pointer-events: all;
position: absolute;
top: 0px;
right: 0px;
width: 60px;
margin: 10px;
margin-right: 70px;
background-color: transparent;
border: none;
cursor: pointer;
z-index: 2;
}

#ctn-principal{
position: fixed;
top: 0;
left: 0;
width: max-content;
height: 100%;
background-color: black;
left: 50%;
transform: translateX(-50%);
}

#pic-principal,#pic-over{
height: 100%;
transition: all 0.5s;
}

#pic-over{
opacity: 0;
display: none;
position: absolute;
z-index: 1;
animation-name: fade;
animation-duration: 0.6s;  
animation-fill-mode: forwards;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1}
}

.container-chat{
position: absolute;
bottom: 0;
width: 100%;
height: 270px;
z-index: 2;
}

.container-chat p{
position: relative;
text-align: justify;
max-width: 100%;
color: white;
text-shadow: 0 0 8px rgb(78, 35, 0), 0 0 4px rgb(78, 35, 0);
padding-top: 101px;
padding-left: 85px;
padding-right: 80px;
font-size: 1.65em;
font-family: 'Baloo Chettan 2', cursive;
text-transform: uppercase;
box-sizing: border-box;
}

#chatbox{
background-image: url("../img/chat-ipe.png");
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
}

.container-chat img{
max-width: 100%;
}

/*
.container-chat button{
background-color: transparent;
border: none;
width: 80px;
vertical-align: middle;
cursor: pointer;
}
*/

.container-chat button{
background-color: transparent;
border: none;
width: 80px;
vertical-align: middle;
cursor: pointer;
position: fixed;
bottom: 30px;
right: 75px;
pointer-events: all;
}

.chat{
position: absolute;
height: 100%;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}

#opcoes{
display: none;
transition: all 0.5s;
}

.opcao-container{
position: absolute;
z-index: 2;
bottom: 200px;
width: 100%;
display: grid;
grid-template-columns: 1fr 0.8fr 1fr;
}
.opcao-container img{
width: 100%;
}
.opcao-container button{
background-color: transparent;
border: none;
box-sizing: border-box;
width: 100%;
cursor: pointer;
}

.texto-fim-ctn{
display: none;
position: absolute;
z-index: 3;
width: 580px;
height: 380px;
background-image: url("../img/text-box.png");
background-repeat: no-repeat;
padding: 55px 40px;
background-size: 100%;
font-family: 'Baloo Chettan 2', cursive;
color: white;
font-size: 1.8em;
text-shadow: 0 0 8px rgb(44, 20, 0),0 0 3px rgb(44, 20, 0);
}

.setas-fim{
background-color: transparent;
border: none;
width: 90px;
vertical-align: middle;
cursor: pointer;
position: absolute;
bottom: 78px;
right: 40px;
pointer-events: all;
}

.setas-fim img{
  width: 100%;
}

#medal-overlay{
  display: none;
  background-image: url("../img/medalha-overlay.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  animation-name: crescendo;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
  color: white;
}
#medal-overlay a{color: white!important;}

#voltar-home{
display: inline-flex;
vertical-align: middle;
font-size: 2.3em;
position: absolute;
font-family: 'grobold';
letter-spacing: 2px;
bottom: 40px;
left: 50%;
transform: translateX(-50%);
cursor: pointer;
}


#voltar-home img{margin-left: 15px;height: 54px;}


#voltar-home-2{
display: inline-flex;
vertical-align: middle;
font-size: 1em;
position: absolute;
font-family: 'grobold';
letter-spacing: 2px;
bottom: -47px;
left: 50%;
transform: translateX(-50%);
color: white;
cursor: pointer;
}


#voltar-home-2 img{margin-left: 15px;height: 35px;}
  

@keyframes crescendo {
  from {width: 0; height: 0;}
  to {width: 100%; height: 100%;}
}

@media(max-width: 1080px){
    
.container-chat{
height: 300px;
padding-top: 110px;
font-size: 2em;
}


}